{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "id": "aiplatform:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "revision": "20260414",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "schemas": {
    "GoogleCloudAiplatformV1RaySpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RaySpec",
      "description": "Configuration information for the Ray cluster. For experimental launch, Ray cluster creation and Persistent cluster creation are 1:1 mapping: We will provision all the nodes within the Persistent cluster as Ray nodes.",
      "properties": {
        "rayLogsSpec": {
          "description": "Optional. OSS Ray logging configurations.",
          "$ref": "GoogleCloudAiplatformV1RayLogsSpec"
        },
        "resourcePoolImages": {
          "description": "Optional. Required if image_uri isn't set. A map of resource_pool_id to prebuild Ray image if user need to use different images for different head/worker pools. This map needs to cover all the resource pool ids. Example: { \"ray_head_node_pool\": \"head image\" \"ray_worker_node_pool1\": \"worker image\" \"ray_worker_node_pool2\": \"another worker image\" }",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "headNodeResourcePoolId": {
          "type": "string",
          "description": "Optional. This will be used to indicate which resource pool will serve as the Ray head node(the first node within that pool). Will use the machine from the first workerpool as the head node by default if this field isn't set."
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. Default image for user to choose a preferred ML framework (for example, TensorFlow or Pytorch) by choosing from [Vertex prebuilt images](https://cloud.google.com/vertex-ai/docs/training/pre-built-containers). Either this or the resource_pool_images is required. Use this field if you need all the resource pools to have the same Ray image. Otherwise, use the {@code resource_pool_images} field."
        },
        "rayMetricSpec": {
          "$ref": "GoogleCloudAiplatformV1RayMetricSpec",
          "description": "Optional. Ray metrics configurations."
        }
      }
    },
    "GoogleCloudAiplatformV1ListTuningJobsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListTuningJobsResponse",
      "description": "Response message for GenAiTuningService.ListTuningJobs",
      "properties": {
        "tuningJobs": {
          "type": "array",
          "description": "The tuning jobs that match the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TuningJob"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this token in a subsequent [GenAiTuningService.ListTuningJobs] call to retrieve the next page of results."
        }
      }
    },
    "GoogleCloudAiplatformV1ModelDeploymentMonitoringObjectiveConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ModelDeploymentMonitoringObjectiveConfig",
      "description": "ModelDeploymentMonitoringObjectiveConfig contains the pair of deployed_model_id to ModelMonitoringObjectiveConfig.",
      "properties": {
        "deployedModelId": {
          "description": "The DeployedModel ID of the objective config.",
          "type": "string"
        },
        "objectiveConfig": {
          "description": "The objective config of for the modelmonitoring job of this deployed model.",
          "$ref": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1GroundednessInput": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1GroundednessInput",
      "description": "Input for groundedness metric.",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for groundedness metric.",
          "$ref": "GoogleCloudAiplatformV1GroundednessSpec"
        },
        "instance": {
          "$ref": "GoogleCloudAiplatformV1GroundednessInstance",
          "description": "Required. Groundedness instance."
        }
      }
    },
    "GoogleCloudAiplatformV1BatchCreateFeaturesOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchCreateFeaturesOperationMetadata",
      "description": "Details of operations that perform batch create Features.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Feature.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1MigratableResourceAutomlModel": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1MigratableResourceAutomlModel",
      "description": "Represents one Model in automl.googleapis.com.",
      "properties": {
        "modelDisplayName": {
          "type": "string",
          "description": "The Model's display name in automl.googleapis.com."
        },
        "model": {
          "description": "Full resource name of automl Model. Format: `projects/{project}/locations/{location}/models/{model}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1GroundingChunkMaps": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1GroundingChunkMaps",
      "description": "A `Maps` chunk is a piece of evidence that comes from Google Maps, containing information about places or routes. This is used to provide the user with rich, location-based information.",
      "properties": {
        "title": {
          "description": "The title of the place.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the place."
        },
        "placeAnswerSources": {
          "description": "The sources that were used to generate the place answer. This includes review snippets and photos that were used to generate the answer, as well as URIs to flag content.",
          "$ref": "GoogleCloudAiplatformV1GroundingChunkMapsPlaceAnswerSources"
        },
        "placeId": {
          "description": "This Place's resource name, in `places/{place_id}` format. This can be used to look up the place in the Google Maps API.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The text of the place answer."
        },
        "route": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1GroundingChunkMapsRoute",
          "description": "Output only. Route information."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTextPromptDatasetMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTextPromptDatasetMetadata",
      "description": "The metadata of Datasets that contain Text Prompt data.",
      "properties": {
        "maxOutputTokens": {
          "type": "string",
          "format": "int64",
          "description": "Value of the maximum number of tokens generated set when the dataset was saved."
        },
        "promptApiSchema": {
          "$ref": "GoogleCloudAiplatformV1SchemaPromptApiSchema",
          "description": "The API schema of the prompt to support both UI and SDK usages."
        },
        "hasPromptVariable": {
          "type": "boolean",
          "description": "Whether the prompt dataset has prompt variable."
        },
        "logprobs": {
          "description": "Whether or not the user has enabled logit probabilities in the model parameters.",
          "type": "boolean"
        },
        "seedEnabled": {
          "description": "Seeding enables model to return a deterministic response on a best effort basis. Determinism isn't guaranteed. This field determines whether or not seeding is enabled.",
          "type": "boolean"
        },
        "gcsUri": {
          "description": "The Google Cloud Storage URI that stores the prompt data.",
          "type": "string"
        },
        "temperature": {
          "description": "Temperature value used for sampling set when the dataset was saved. This value is used to tune the degree of randomness.",
          "type": "number",
          "format": "float"
        },
        "topP": {
          "description": "Top P value set when the dataset was saved. Given topK tokens for decoding, top candidates will be selected until the sum of their probabilities is topP.",
          "type": "number",
          "format": "float"
        },
        "stopSequences": {
          "description": "Customized stop sequences.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groundingConfig": {
          "$ref": "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfig",
          "description": "Grounding checking configuration."
        },
        "note": {
          "type": "string",
          "description": "User-created prompt note. Note size limit is 2KB."
        },
        "systemInstructionGcsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI that stores the system instruction, starting with gs://."
        },
        "promptType": {
          "type": "string",
          "description": "Type of the prompt dataset."
        },
        "seedValue": {
          "description": "The actual value of the seed.",
          "type": "string",
          "format": "int64"
        },
        "text": {
          "type": "string",
          "description": "The content of the prompt dataset."
        },
        "systemInstruction": {
          "type": "string",
          "description": "The content of the prompt dataset system instruction."
        },
        "topK": {
          "type": "string",
          "format": "int64",
          "description": "Top K value set when the dataset was saved. This value determines how many candidates with highest probability from the vocab would be selected for each decoding step."
        },
        "candidateCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of candidates."
        }
      }
    },
    "GoogleCloudAiplatformV1Featurestore": {
      "id": "GoogleCloudAiplatformV1Featurestore",
      "description": "Vertex AI Feature Store provides a centralized repository for organizing, storing, and serving ML features. The Featurestore is a top-level container for your features and their values.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. The labels with user-defined metadata to organize your Featurestore. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one Featurestore(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Featurestore was created.",
          "readOnly": true
        },
        "onlineServingConfig": {
          "description": "Optional. Config for online storage resources. The field should not co-exist with the field of `OnlineStoreReplicationConfig`. If both of it and OnlineStoreReplicationConfig are unset, the feature store will not have an online store and cannot be used for online serving.",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreOnlineServingConfig"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "encryptionSpec": {
          "description": "Optional. Customer-managed encryption key spec for data storage. If set, both of the online and offline data storage will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STABLE",
            "UPDATING"
          ],
          "description": "Output only. State of the featurestore.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State when the featurestore configuration is not being updated and the fields reflect the current configuration of the featurestore. The featurestore is usable in this state.",
            "The state of the featurestore configuration when it is being updated. During an update, the fields reflect either the original configuration or the updated configuration of the featurestore. For example, `online_serving_config.fixed_node_count` can take minutes to update. While the update is in progress, the featurestore is in the UPDATING state, and the value of `fixed_node_count` can be the original value or the updated value, depending on the progress of the operation. Until the update completes, the actual number of nodes can still be the original value of `fixed_node_count`. The featurestore is still usable in this state."
          ],
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Featurestore was last updated.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "onlineStorageTtlDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. TTL in days for feature values that will be stored in online serving storage. The Feature Store online storage periodically removes obsolete feature values older than `online_storage_ttl_days` since the feature generation time. Note that `online_storage_ttl_days` should be less than or equal to `offline_storage_ttl_days` for each EntityType under a featurestore. If not set, default to 4000 days"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the Featurestore. Format: `projects/{project}/locations/{location}/featurestores/{featurestore}`",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ApiAuth": {
      "id": "GoogleCloudAiplatformV1ApiAuth",
      "description": "The generic reusable api auth config. Deprecated. Please use AuthConfig (google/cloud/aiplatform/master/auth.proto) instead.",
      "properties": {
        "apiKeyConfig": {
          "$ref": "GoogleCloudAiplatformV1ApiAuthApiKeyConfig",
          "description": "The API secret."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FluencyResult": {
      "id": "GoogleCloudAiplatformV1FluencyResult",
      "description": "Spec for fluency result.",
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. Fluency score."
        },
        "explanation": {
          "type": "string",
          "description": "Output only. Explanation for fluency score.",
          "readOnly": true
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Output only. Confidence for fluency score.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1MachineSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1MachineSpec",
      "description": "Specification of a single machine.",
      "properties": {
        "acceleratorType": {
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_L4",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "NVIDIA_RTX_PRO_6000",
            "TPU_V2",
            "TPU_V3",
            "TPU_V4_POD",
            "TPU_V5_LITEPOD"
          ],
          "description": "Immutable. The type of accelerator(s) that may be attached to the machine as per accelerator_count.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified accelerator type, which means no accelerator.",
            "Deprecated: Nvidia Tesla K80 GPU has reached end of support, see https://cloud.google.com/compute/docs/eol/k80-eol.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A100 80GB GPU.",
            "Nvidia L4 GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H100 Mega 80Gb GPU.",
            "Nvidia H200 141Gb GPU.",
            "Nvidia B200 GPU.",
            "Nvidia GB200 GPU.",
            "Nvidia RTX Pro 6000 GPU.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5."
          ]
        },
        "gpuPartitionSize": {
          "type": "string",
          "description": "Optional. Immutable. The Nvidia GPU partition size. When specified, the requested accelerators will be partitioned into smaller GPU partitions. For example, if the request is for 8 units of NVIDIA A100 GPUs, and gpu_partition_size=\"1g.10gb\", the service will create 8 * 7 = 56 partitioned MIG instances. The partition size must be a value supported by the requested accelerator. Refer to [Nvidia GPU Partitioning](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus-multi#multi-instance_gpu_partitions) for the available partition sizes. If set, the accelerator_count should be set to 1."
        },
        "tpuTopology": {
          "type": "string",
          "description": "Immutable. The topology of the TPUs. Corresponds to the TPU topologies available from GKE. (Example: tpu_topology: \"2x2x1\")."
        },
        "reservationAffinity": {
          "description": "Optional. Immutable. Configuration controlling how this resource pool consumes reservation.",
          "$ref": "GoogleCloudAiplatformV1ReservationAffinity"
        },
        "acceleratorCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of accelerators to attach to the machine. For accelerator optimized machine types (https://cloud.google.com/compute/docs/accelerator-optimized-machines), One may set the accelerator_count from 1 to N for machine with N GPUs. If accelerator_count is less than or equal to N / 2, Vertex will co-schedule the replicas of the model into the same VM to save cost. For example, if the machine type is a3-highgpu-8g, which has 8 H100 GPUs, one can set accelerator_count to 1 to 8. If accelerator_count is 1, 2, 3, or 4, Vertex will co-schedule 8, 4, 2, or 2 replicas of the model into the same VM to save cost. When co-scheduling, CPU, memory and storage on the VM will be distributed to replicas on the VM. For example, one can expect a co-scheduled replica requesting 2 GPUs out of a 8-GPU VM will receive 25% of the CPU, memory and storage of the VM. Note that the feature is not compatible with multihost_gpu_node_count. When multihost_gpu_node_count is set, the co-scheduling will not be enabled."
        },
        "machineType": {
          "type": "string",
          "description": "Immutable. The type of the machine. See the [list of machine types supported for prediction](https://cloud.google.com/vertex-ai/docs/predictions/configure-compute#machine-types) See the [list of machine types supported for custom training](https://cloud.google.com/vertex-ai/docs/training/configure-compute#machine-types). For DeployedModel this field is optional, and the default value is `n1-standard-2`. For BatchPredictionJob or as part of WorkerPoolSpec this field is required."
        }
      }
    },
    "GoogleCloudAiplatformV1RubricGenerationSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RubricGenerationSpec",
      "description": "Specification for how rubrics should be generated.",
      "properties": {
        "promptTemplate": {
          "type": "string",
          "description": "Template for the prompt used to generate rubrics. The details should be updated based on the most-recent recipe requirements."
        },
        "modelConfig": {
          "description": "Configuration for the model used in rubric generation. Configs including sampling count and base model can be specified here. Flipping is not supported for rubric generation.",
          "$ref": "GoogleCloudAiplatformV1AutoraterConfig"
        },
        "rubricContentType": {
          "description": "The type of rubric content to be generated.",
          "enumDescriptions": [
            "The content type to generate is not specified.",
            "Generate rubrics based on properties.",
            "Generate rubrics in an NL question answer format.",
            "Generate rubrics in a unit test format."
          ],
          "enum": [
            "RUBRIC_CONTENT_TYPE_UNSPECIFIED",
            "PROPERTY",
            "NL_QUESTION_ANSWER",
            "PYTHON_CODE_ASSERTION"
          ],
          "type": "string"
        },
        "rubricTypeOntology": {
          "description": "Optional. An optional, pre-defined list of allowed types for generated rubrics. If this field is provided, it implies `include_rubric_type` should be true, and the generated rubric types should be chosen from this ontology.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1UndeployIndexOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1UndeployIndexOperationMetadata",
      "description": "Runtime operation information for IndexEndpointService.UndeployIndex.",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1ModelMonitoringStatsAnomalies": {
      "id": "GoogleCloudAiplatformV1ModelMonitoringStatsAnomalies",
      "description": "Statistics and anomalies generated by Model Monitoring.",
      "properties": {
        "objective": {
          "enum": [
            "MODEL_DEPLOYMENT_MONITORING_OBJECTIVE_TYPE_UNSPECIFIED",
            "RAW_FEATURE_SKEW",
            "RAW_FEATURE_DRIFT",
            "FEATURE_ATTRIBUTION_SKEW",
            "FEATURE_ATTRIBUTION_DRIFT"
          ],
          "type": "string",
          "description": "Model Monitoring Objective those stats and anomalies belonging to.",
          "enumDescriptions": [
            "Default value, should not be set.",
            "Raw feature values' stats to detect skew between Training-Prediction datasets.",
            "Raw feature values' stats to detect drift between Serving-Prediction datasets.",
            "Feature attribution scores to detect skew between Training-Prediction datasets.",
            "Feature attribution scores to detect skew between Prediction datasets collected within different time windows."
          ]
        },
        "deployedModelId": {
          "description": "Deployed Model ID.",
          "type": "string"
        },
        "anomalyCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of anomalies within all stats."
        },
        "featureStats": {
          "type": "array",
          "description": "A list of historical Stats and Anomalies generated for all Features.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelMonitoringStatsAnomaliesFeatureHistoricStatsAnomalies"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1PublisherModelCallToActionDeployGke": {
      "id": "GoogleCloudAiplatformV1PublisherModelCallToActionDeployGke",
      "description": "Configurations for PublisherModel GKE deployment",
      "properties": {
        "gkeYamlConfigs": {
          "type": "array",
          "description": "Optional. GKE deployment configuration in yaml format.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1CancelDataLabelingJobRequest": {
      "id": "GoogleCloudAiplatformV1CancelDataLabelingJobRequest",
      "description": "Request message for JobService.CancelDataLabelingJob.",
      "properties": {},
      "type": "object"
    },
    "GoogleTypeMoney": {
      "type": "object",
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAiplatformV1PreferenceOptimizationSpec": {
      "id": "GoogleCloudAiplatformV1PreferenceOptimizationSpec",
      "description": "Tuning Spec for Preference Optimization.",
      "properties": {
        "trainingDatasetUri": {
          "description": "Required. Cloud Storage path to file containing training dataset for preference optimization tuning. The dataset must be formatted as a JSONL file.",
          "type": "string"
        },
        "exportLastCheckpointOnly": {
          "description": "Optional. If set to true, disable intermediate checkpoints for Preference Optimization and only the last checkpoint will be exported. Otherwise, enable intermediate checkpoints for Preference Optimization. Default is false.",
          "type": "boolean"
        },
        "validationDatasetUri": {
          "type": "string",
          "description": "Optional. Cloud Storage path to file containing validation dataset for preference optimization tuning. The dataset must be formatted as a JSONL file."
        },
        "hyperParameters": {
          "$ref": "GoogleCloudAiplatformV1PreferenceOptimizationHyperParameters",
          "description": "Optional. Hyperparameters for Preference Optimization."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1RayLogsSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RayLogsSpec",
      "description": "Configuration for the Ray OSS Logs.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Flag to disable the export of Ray OSS logs to Cloud Logging."
        }
      }
    },
    "GoogleCloudAiplatformV1Candidate": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1Candidate",
      "description": "A response candidate generated from the model.",
      "properties": {
        "groundingMetadata": {
          "description": "Output only. Metadata returned when grounding is enabled. It contains the sources used to ground the generated content.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1GroundingMetadata"
        },
        "finishMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Describes the reason the model stopped generating tokens in more detail. This field is returned only when `finish_reason` is set."
        },
        "content": {
          "description": "Output only. The content of the candidate.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1Content"
        },
        "logprobsResult": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1LogprobsResult",
          "description": "Output only. The detailed log probability information for the tokens in this candidate. This is useful for debugging, understanding model uncertainty, and identifying potential \"hallucinations\"."
        },
        "urlContextMetadata": {
          "description": "Output only. Metadata returned when the model uses the `url_context` tool to get information from a user-provided URL.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1UrlContextMetadata"
        },
        "finishReason": {
          "description": "Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating.",
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "SPII",
            "MALFORMED_FUNCTION_CALL",
            "MODEL_ARMOR",
            "IMAGE_SAFETY",
            "IMAGE_PROHIBITED_CONTENT",
            "IMAGE_RECITATION",
            "IMAGE_OTHER",
            "UNEXPECTED_TOOL_CALL",
            "NO_IMAGE"
          ],
          "enumDescriptions": [
            "The finish reason is unspecified.",
            "The model reached a natural stopping point or a configured stop sequence.",
            "The model generated the maximum number of tokens allowed by the `max_output_tokens` parameter.",
            "The model stopped generating because the content potentially violates safety policies. NOTE: When streaming, the `content` field is empty if content filters block the output.",
            "The model stopped generating because the content may be a recitation from a source.",
            "The model stopped generating for a reason not otherwise specified.",
            "The model stopped generating because the content contains a term from a configured blocklist.",
            "The model stopped generating because the content may be prohibited.",
            "The model stopped generating because the content may contain sensitive personally identifiable information (SPII).",
            "The model generated a function call that is syntactically invalid and can't be parsed.",
            "The model response was blocked by Model Armor.",
            "The generated image potentially violates safety policies.",
            "The generated image may contain prohibited content.",
            "The generated image may be a recitation from a source.",
            "The image generation stopped for a reason not otherwise specified.",
            "The model generated a function call that is semantically invalid. This can happen, for example, if function calling is not enabled or the generated function is not in the function declaration.",
            "The model was expected to generate an image, but didn't."
          ],
          "readOnly": true,
          "type": "string"
        },
        "safetyRatings": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of ratings for the safety of a response candidate. There is at most one rating per category.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetyRating"
          }
        },
        "index": {
          "readOnly": true,
          "description": "Output only. The 0-based index of this candidate in the list of generated responses. This is useful for distinguishing between multiple candidates when `candidate_count` > 1.",
          "type": "integer",
          "format": "int32"
        },
        "avgLogprobs": {
          "type": "number",
          "format": "double",
          "readOnly": true,
          "description": "Output only. The average log probability of the tokens in this candidate. This is a length-normalized score that can be used to compare the quality of candidates of different lengths. A higher average log probability suggests a more confident and coherent response."
        },
        "citationMetadata": {
          "description": "Output only. A collection of citations that apply to the generated content.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1CitationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1PointwiseMetricInstance": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PointwiseMetricInstance",
      "description": "Pointwise metric instance. Usually one instance corresponds to one row in an evaluation dataset.",
      "properties": {
        "jsonInstance": {
          "type": "string",
          "description": "Instance specified as a json string. String key-value pairs are expected in the json_instance to render PointwiseMetricSpec.instance_prompt_template."
        },
        "contentMapInstance": {
          "$ref": "GoogleCloudAiplatformV1ContentMap",
          "description": "Key-value contents for the mutlimodality input, including text, image, video, audio, and pdf, etc. The key is placeholder in metric prompt template, and the value is the multimodal content."
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureValueDestination": {
      "id": "GoogleCloudAiplatformV1FeatureValueDestination",
      "description": "A destination location for Feature values and format.",
      "properties": {
        "csvDestination": {
          "description": "Output in CSV format. Array Feature value types are not allowed in CSV format.",
          "$ref": "GoogleCloudAiplatformV1CsvDestination"
        },
        "bigqueryDestination": {
          "description": "Output in BigQuery format. BigQueryDestination.output_uri in FeatureValueDestination.bigquery_destination must refer to a table.",
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        },
        "tfrecordDestination": {
          "$ref": "GoogleCloudAiplatformV1TFRecordDestination",
          "description": "Output in TFRecord format. Below are the mapping from Feature value type in Featurestore to Feature value type in TFRecord: Value type in Featurestore | Value type in TFRecord DOUBLE, DOUBLE_ARRAY | FLOAT_LIST INT64, INT64_ARRAY | INT64_LIST STRING, STRING_ARRAY, BYTES | BYTES_LIST true -> byte_string(\"true\"), false -> byte_string(\"false\") BOOL, BOOL_ARRAY (true, false) | BYTES_LIST"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SummaryMetrics": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SummaryMetrics",
      "description": "The summary metrics for the evaluation run.",
      "properties": {
        "metrics": {
          "type": "object",
          "description": "Optional. Map of metric name to metric value.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "totalItems": {
          "description": "Optional. The total number of items that were evaluated.",
          "type": "integer",
          "format": "int32"
        },
        "failedItems": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of items that failed to be evaluated."
        }
      }
    },
    "GoogleCloudAiplatformV1ListEventsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListEventsResponse",
      "description": "Response message for SessionService.ListEvents.",
      "properties": {
        "sessionEvents": {
          "description": "A list of events matching the request. Ordered by timestamp in ascending order.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SessionEvent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListEventsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformation",
      "properties": {
        "repeatedText": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextArrayTransformation"
        },
        "repeatedNumeric": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation"
        },
        "repeatedCategorical": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationCategoricalArrayTransformation"
        },
        "auto": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationAutoTransformation"
        },
        "categorical": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationCategoricalTransformation"
        },
        "text": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextTransformation"
        },
        "numeric": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericTransformation"
        },
        "timestamp": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTimestampTransformation"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1CopyModelResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CopyModelResponse",
      "description": "Response message of ModelService.CopyModel operation.",
      "properties": {
        "model": {
          "description": "The name of the copied Model resource. Format: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        },
        "modelVersionId": {
          "type": "string",
          "description": "Output only. The version ID of the model that is copied.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1PublisherModel": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PublisherModel",
      "description": "A Model Garden Publisher Model.",
      "properties": {
        "frameworks": {
          "description": "Optional. Additional information about the model's Frameworks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the PublisherModel."
        },
        "supportedActions": {
          "description": "Optional. Supported call-to-action options.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToAction"
        },
        "versionState": {
          "type": "string",
          "enum": [
            "VERSION_STATE_UNSPECIFIED",
            "VERSION_STATE_STABLE",
            "VERSION_STATE_UNSTABLE"
          ],
          "description": "Optional. Indicates the state of the model version.",
          "enumDescriptions": [
            "The version state is unspecified.",
            "Used to indicate the version is stable.",
            "Used to indicate the version is unstable."
          ]
        },
        "openSourceCategory": {
          "description": "Required. Indicates the open source category of the publisher model.",
          "enumDescriptions": [
            "The open source category is unspecified, which should not be used.",
            "Used to indicate the PublisherModel is not open sourced.",
            "Used to indicate the PublisherModel is a Google-owned open source model w/ Google checkpoint.",
            "Used to indicate the PublisherModel is a 3p-owned open source model w/ Google checkpoint.",
            "Used to indicate the PublisherModel is a Google-owned pure open source model.",
            "Used to indicate the PublisherModel is a 3p-owned pure open source model."
          ],
          "enum": [
            "OPEN_SOURCE_CATEGORY_UNSPECIFIED",
            "PROPRIETARY",
            "GOOGLE_OWNED_OSS_WITH_GOOGLE_CHECKPOINT",
            "THIRD_PARTY_OWNED_OSS_WITH_GOOGLE_CHECKPOINT",
            "GOOGLE_OWNED_OSS",
            "THIRD_PARTY_OWNED_OSS"
          ],
          "type": "string"
        },
        "predictSchemata": {
          "description": "Optional. The schemata that describes formats of the PublisherModel's predictions and explanations as given and returned via PredictionService.Predict.",
          "$ref": "GoogleCloudAiplatformV1PredictSchemata"
        },
        "publisherModelTemplate": {
          "description": "Optional. Output only. Immutable. Used to indicate this model has a publisher model and provide the template of the publisher model resource name.",
          "readOnly": true,
          "type": "string"
        },
        "launchStage": {
          "description": "Optional. Indicates the launch stage of the model.",
          "enumDescriptions": [
            "The model launch stage is unspecified.",
            "Used to indicate the PublisherModel is at Experimental launch stage, available to a small set of customers.",
            "Used to indicate the PublisherModel is at Private Preview launch stage, only available to a small set of customers, although a larger set of customers than an Experimental launch. Previews are the first launch stage used to get feedback from customers.",
            "Used to indicate the PublisherModel is at Public Preview launch stage, available to all customers, although not supported for production workloads.",
            "Used to indicate the PublisherModel is at GA launch stage, available to all customers and ready for production workload."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "EXPERIMENTAL",
            "PRIVATE_PREVIEW",
            "PUBLIC_PREVIEW",
            "GA"
          ],
          "type": "string"
        },
        "versionId": {
          "readOnly": true,
          "description": "Output only. Immutable. The version ID of the PublisherModel. A new version is committed when a new model version is uploaded under an existing model id. It is an auto-incrementing decimal number in string representation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EmbedContentResponseEmbedding": {
      "id": "GoogleCloudAiplatformV1EmbedContentResponseEmbedding",
      "description": "A list of floats representing an embedding.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Embedding vector values.",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecContainerSpec": {
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecContainerSpec",
      "description": "Specification for deploying from a container image.",
      "properties": {
        "imageUri": {
          "description": "Required. The Artifact Registry Docker image URI (e.g., us-central1-docker.pkg.dev/my-project/my-repo/my-image:tag) of the container image that is to be run on each worker replica.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1TrajectoryExactMatchSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1TrajectoryExactMatchSpec",
      "description": "Spec for TrajectoryExactMatch metric - returns 1 if tool calls in the reference trajectory exactly match the predicted trajectory, else 0.",
      "properties": {}
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageSegmentationEvaluationMetrics": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageSegmentationEvaluationMetrics",
      "description": "Metrics for image segmentation evaluation results.",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Metrics for each confidenceThreshold in 0.00,0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 Precision-recall curve can be derived from it.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationRunMetricLLMBasedMetricSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationRunMetricLLMBasedMetricSpec",
      "description": "Specification for an LLM based metric.",
      "properties": {
        "predefinedRubricGenerationSpec": {
          "description": "Dynamically generate rubrics using a predefined spec.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunMetricPredefinedMetricSpec"
        },
        "systemInstruction": {
          "type": "string",
          "description": "Optional. System instructions for the judge model."
        },
        "judgeAutoraterConfig": {
          "description": "Optional. Optional configuration for the judge LLM (Autorater).",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigAutoraterConfig"
        },
        "metricPromptTemplate": {
          "description": "Required. Template for the prompt sent to the judge model.",
          "type": "string"
        },
        "additionalConfig": {
          "description": "Optional. Optional additional configuration for the metric.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "rubricGenerationSpec": {
          "$ref": "GoogleCloudAiplatformV1EvaluationRunMetricRubricGenerationSpec",
          "description": "Dynamically generate rubrics using this specification."
        },
        "rubricGroupKey": {
          "description": "Use a pre-defined group of rubrics associated with the input. Refers to a key in the rubric_groups map of EvaluationInstance.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SearchEntryPoint": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SearchEntryPoint",
      "description": "An entry point for displaying Google Search results. A `SearchEntryPoint` is populated when the grounding source for a model's response is Google Search. It provides information that you can use to display the search results in your application.",
      "properties": {
        "sdkBlob": {
          "type": "string",
          "format": "byte",
          "description": "Optional. A base64-encoded JSON object that contains a list of search queries and their corresponding search URLs. This information can be used to build a custom search UI."
        },
        "renderedContent": {
          "type": "string",
          "description": "Optional. An HTML snippet that can be embedded in a web page or an application's webview. This snippet displays a search result, including the title, URL, and a brief description of the search result."
        }
      }
    },
    "GoogleCloudAiplatformV1SampleConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SampleConfig",
      "description": "Active learning data sampling config. For every active learning labeling iteration, it will select a batch of data based on the sampling strategy.",
      "properties": {
        "initialBatchSamplePercentage": {
          "description": "The percentage of data needed to be labeled in the first batch.",
          "type": "integer",
          "format": "int32"
        },
        "sampleStrategy": {
          "description": "Field to choose sampling strategy. Sampling strategy will decide which data should be selected for human labeling in every batch.",
          "enumDescriptions": [
            "Default will be treated as UNCERTAINTY.",
            "Sample the most uncertain data to label."
          ],
          "enum": [
            "SAMPLE_STRATEGY_UNSPECIFIED",
            "UNCERTAINTY"
          ],
          "type": "string"
        },
        "followingBatchSamplePercentage": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of data needed to be labeled in each following batch (except the first batch)."
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationMetadata": {
      "id": "GoogleCloudAiplatformV1ExplanationMetadata",
      "description": "Metadata describing the Model's input and output for explanation.",
      "properties": {
        "inputs": {
          "description": "Required. Map from feature names to feature input metadata. Keys are the name of the features. Values are the specification of the feature. An empty InputMetadata is valid. It describes a text feature which has the name specified as the key in ExplanationMetadata.inputs. The baseline of the empty feature is chosen by Vertex AI. For Vertex AI-provided Tensorflow images, the key can be any friendly name of the feature. Once specified, featureAttributions are keyed by this key (if not grouped with another feature). For custom images, the key must match with the key in instance.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadata"
          },
          "type": "object"
        },
        "featureAttributionsSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing the format of the feature attributions. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject). AutoML tabular Models always have this field populated by Vertex AI. Note: The URI given on output may be different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        },
        "latentSpaceSource": {
          "description": "Name of the source to generate embeddings for example based explanations.",
          "type": "string"
        },
        "outputs": {
          "description": "Required. Map from output names to output metadata. For Vertex AI-provided Tensorflow images, keys can be any user defined string that consists of any UTF-8 characters. For custom images, keys are the name of the output field in the prediction to be explained. Currently only one key is allowed.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ExplanationMetadataOutputMetadata"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeploymentResourcePool": {
      "id": "GoogleCloudAiplatformV1DeploymentResourcePool",
      "description": "A description of resources that can be shared by multiple DeployedModels, whose underlying specification consists of a DedicatedResources.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this DeploymentResourcePool was created."
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Customer-managed encryption key spec for a DeploymentResourcePool. If set, this DeploymentResourcePool will be secured by this key. Endpoints and the DeploymentResourcePool they deploy in need to have the same EncryptionSpec."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "disableContainerLogging": {
          "type": "boolean",
          "description": "If the DeploymentResourcePool is deployed with custom-trained Models or AutoML Tabular Models, the container(s) of the DeploymentResourcePool will send `stderr` and `stdout` streams to Cloud Logging by default. Please note that the logs incur cost, which are subject to [Cloud Logging pricing](https://cloud.google.com/logging/pricing). User can disable container logging by setting this flag to true."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account that the DeploymentResourcePool's container(s) run as. Specify the email address of the service account. If this service account is not specified, the container(s) run as a service account that doesn't have access to the resource project. Users deploying the Models to this DeploymentResourcePool must have the `iam.serviceAccounts.actAs` permission on this service account."
        },
        "dedicatedResources": {
          "description": "Required. The underlying DedicatedResources that the DeploymentResourcePool uses.",
          "$ref": "GoogleCloudAiplatformV1DedicatedResources"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "name": {
          "description": "Immutable. The resource name of the DeploymentResourcePool. Format: `projects/{project}/locations/{location}/deploymentResourcePools/{deployment_resource_pool}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListDeploymentResourcePoolsResponse": {
      "id": "GoogleCloudAiplatformV1ListDeploymentResourcePoolsResponse",
      "description": "Response message for ListDeploymentResourcePools method.",
      "properties": {
        "deploymentResourcePools": {
          "description": "The DeploymentResourcePools from the specified location.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DeploymentResourcePool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchCreateTensorboardTimeSeriesRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchCreateTensorboardTimeSeriesRequest",
      "description": "Request message for TensorboardService.BatchCreateTensorboardTimeSeries.",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the TensorboardTimeSeries to create. A maximum of 1000 TensorboardTimeSeries can be created in a batch.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1CreateTensorboardTimeSeriesRequest"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTextDataItem": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTextDataItem",
      "description": "Payload of Text DataItem.",
      "properties": {
        "gcsUri": {
          "description": "Output only. Google Cloud Storage URI points to a copy of the original text in the Vertex-managed bucket in the user's project. The text file is up to 10MB in size.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationParserConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationParserConfig",
      "description": "Config for parsing LLM responses. It can be used to parse the LLM response to be evaluated, or the LLM response from LLM-based metrics/Autoraters.",
      "properties": {
        "customCodeParserConfig": {
          "$ref": "GoogleCloudAiplatformV1EvaluationParserConfigCustomCodeParserConfig",
          "description": "Optional. Use custom code to parse the LLM response."
        }
      }
    },
    "GoogleCloudAiplatformV1ExportDataConfig": {
      "id": "GoogleCloudAiplatformV1ExportDataConfig",
      "description": "Describes what part of the Dataset is to be exported, the destination of the export and how to export.",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location where the output is to be written to. In the given directory a new directory will be created with name: `export-data--` where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. All export output will be written into that directory. Inside that directory, annotations with the same schema will be grouped into sub directories which are named with the corresponding annotations' schema title. Inside these sub directories, a schema.yaml will be created to describe the output format.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        },
        "filterSplit": {
          "$ref": "GoogleCloudAiplatformV1ExportFilterSplit",
          "description": "Split based on the provided filters for each set."
        },
        "savedQueryId": {
          "type": "string",
          "description": "The ID of a SavedQuery (annotation set) under the Dataset specified by ExportDataRequest.name used for filtering Annotations for training. Only used for custom training data export use cases. Only applicable to Datasets that have SavedQueries. Only Annotations that are associated with this SavedQuery are used in respectively training. When used in conjunction with annotations_filter, the Annotations used for training are filtered by both saved_query_id and annotations_filter. Only one of saved_query_id and annotation_schema_uri should be specified as both of them represent the same thing: problem type."
        },
        "fractionSplit": {
          "$ref": "GoogleCloudAiplatformV1ExportFractionSplit",
          "description": "Split based on fractions defining the size of each set."
        },
        "annotationSchemaUri": {
          "type": "string",
          "description": "The Cloud Storage URI that points to a YAML file describing the annotation schema. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject). The schema files that can be used here are found in gs://google-cloud-aiplatform/schema/dataset/annotation/, note that the chosen schema must be consistent with metadata of the Dataset specified by ExportDataRequest.name. Only used for custom training data export use cases. Only applicable to Datasets that have DataItems and Annotations. Only Annotations that both match this schema and belong to DataItems not ignored by the split method are used in respectively training, validation or test role, depending on the role of the DataItem they are on. When used in conjunction with annotations_filter, the Annotations used for training are filtered by both annotations_filter and annotation_schema_uri."
        },
        "annotationsFilter": {
          "type": "string",
          "description": "An expression for filtering what part of the Dataset is to be exported. Only Annotations that match this filter will be exported. The filter syntax is the same as in ListAnnotations."
        },
        "exportUse": {
          "type": "string",
          "enum": [
            "EXPORT_USE_UNSPECIFIED",
            "CUSTOM_CODE_TRAINING"
          ],
          "description": "Indicates the usage of the exported files.",
          "enumDescriptions": [
            "Regular user export.",
            "Export for custom code training."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1RagEmbeddingModelConfigVertexPredictionEndpoint": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RagEmbeddingModelConfigVertexPredictionEndpoint",
      "description": "Config representing a model hosted on Vertex Prediction Endpoint.",
      "properties": {
        "modelVersionId": {
          "type": "string",
          "description": "Output only. Version ID of the model that is deployed on the endpoint. Present only when the endpoint is not a publisher model.",
          "readOnly": true
        },
        "endpoint": {
          "type": "string",
          "description": "Required. The endpoint resource name. Format: `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}` or `projects/{project}/locations/{location}/endpoints/{endpoint}`"
        },
        "model": {
          "readOnly": true,
          "description": "Output only. The resource name of the model that is deployed on the endpoint. Present only when the endpoint is not a publisher model. Pattern: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SafetyRating": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SafetyRating",
      "description": "A safety rating for a piece of content. The safety rating contains the harm category and the harm probability level.",
      "properties": {
        "overwrittenThreshold": {
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "description": "Output only. The overwritten threshold for the safety category of Gemini 2.0 image out. If minors are detected in the output image, the threshold of each safety category will be overwritten if user sets a lower threshold.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The harm block threshold is unspecified.",
            "Block content with a low harm probability or higher.",
            "Block content with a medium harm probability or higher.",
            "Block content with a high harm probability.",
            "Do not block any content, regardless of its harm probability.",
            "Turn off the safety filter entirely."
          ]
        },
        "probability": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The harm probability is unspecified.",
            "The harm probability is negligible.",
            "The harm probability is low.",
            "The harm probability is medium.",
            "The harm probability is high."
          ],
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Output only. The probability of harm for this category."
        },
        "severityScore": {
          "type": "number",
          "format": "float",
          "description": "Output only. The severity score of harm for this category.",
          "readOnly": true
        },
        "probabilityScore": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. The probability score of harm for this category."
        },
        "category": {
          "description": "Output only. The harm category of this rating.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_IMAGE_HATE",
            "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT",
            "HARM_CATEGORY_IMAGE_HARASSMENT",
            "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Content that promotes violence or incites hatred against individuals or groups based on certain attributes.",
            "Content that promotes, facilitates, or enables dangerous activities.",
            "Abusive, threatening, or content intended to bully, torment, or ridicule.",
            "Content that contains sexually explicit material.",
            "Deprecated: Election filter is not longer supported. The harm category is civic integrity.",
            "Images that contain hate speech.",
            "Images that contain dangerous content.",
            "Images that contain harassment.",
            "Images that contain sexually explicit content.",
            "Prompts designed to bypass safety filters."
          ],
          "type": "string"
        },
        "severity": {
          "readOnly": true,
          "enumDescriptions": [
            "The harm severity is unspecified.",
            "The harm severity is negligible.",
            "The harm severity is low.",
            "The harm severity is medium.",
            "The harm severity is high."
          ],
          "type": "string",
          "description": "Output only. The severity of harm for this category.",
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ]
        },
        "blocked": {
          "description": "Output only. Indicates whether the content was blocked because of this rating.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1ListPipelineJobsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListPipelineJobsResponse",
      "description": "Response message for PipelineService.ListPipelineJobs",
      "properties": {
        "pipelineJobs": {
          "type": "array",
          "description": "List of PipelineJobs in the requested page.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1PipelineJob"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListPipelineJobsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1CheckTrialEarlyStoppingStateMetatdata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CheckTrialEarlyStoppingStateMetatdata",
      "description": "This message will be placed in the metadata field of a google.longrunning.Operation associated with a CheckTrialEarlyStoppingState request.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for suggesting Trials.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "study": {
          "description": "The name of the Study that the Trial belongs to.",
          "type": "string"
        },
        "trial": {
          "description": "The Trial name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageSegmentationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageSegmentationMetadata",
      "properties": {
        "costMilliNodeHours": {
          "type": "string",
          "format": "int64",
          "description": "The actual training cost of creating this model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed inputs.budgetMilliNodeHours."
        },
        "successfulStopReason": {
          "type": "string",
          "enum": [
            "SUCCESSFUL_STOP_REASON_UNSPECIFIED",
            "BUDGET_REACHED",
            "MODEL_CONVERGED"
          ],
          "description": "For successful job completions, this is the reason why the job has finished.",
          "enumDescriptions": [
            "Should not be set.",
            "The inputs.budgetMilliNodeHours had been reached.",
            "Further training of the Model ceased to increase its quality, since it already has converged."
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1GenerateContentResponse": {
      "id": "GoogleCloudAiplatformV1GenerateContentResponse",
      "description": "Response message for [PredictionService.GenerateContent].",
      "properties": {
        "candidates": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Generated candidates.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Candidate"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the request is made to the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "modelVersion": {
          "readOnly": true,
          "description": "Output only. The model version used to generate the response.",
          "type": "string"
        },
        "promptFeedback": {
          "description": "Output only. Content filter results for a prompt sent in the request. Note: Sent only in the first stream chunk. Only happens when no candidates were generated due to content violations.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1GenerateContentResponsePromptFeedback"
        },
        "responseId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. response_id is used to identify each response. It is the encoding of the event_id."
        },
        "usageMetadata": {
          "description": "Usage metadata about the response(s).",
          "$ref": "GoogleCloudAiplatformV1GenerateContentResponseUsageMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1RebaseTunedModelRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RebaseTunedModelRequest",
      "description": "Request message for GenAiTuningService.RebaseTunedModel.",
      "properties": {
        "artifactDestination": {
          "$ref": "GoogleCloudAiplatformV1GcsDestination",
          "description": "Optional. The Google Cloud Storage location to write the artifacts to."
        },
        "deployToSameEndpoint": {
          "description": "Optional. By default, rebasing a model creates a new endpoint for the new model. If this flag is set to true, the new model will be deployed to the same endpoint as the original model. WARNING: If you deploy to the same endpoint, the original model will be un-deployed and replaced by the new model.",
          "type": "boolean"
        },
        "tuningJob": {
          "description": "Optional. The tuning job to be updated. Users can use this field to overwrite tuning configs.",
          "$ref": "GoogleCloudAiplatformV1TuningJob"
        },
        "tunedModelRef": {
          "$ref": "GoogleCloudAiplatformV1TunedModelRef",
          "description": "Required. A reference to the tuned model to rebase."
        }
      }
    },
    "GoogleCloudAiplatformV1PublisherModelCallToAction": {
      "id": "GoogleCloudAiplatformV1PublisherModelCallToAction",
      "description": "Actions could take on this Publisher Model.",
      "properties": {
        "openEvaluationPipeline": {
          "description": "Optional. Open evaluation pipeline of the PublisherModel.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "openNotebook": {
          "description": "Optional. Open notebook of the PublisherModel.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "openGenerationAiStudio": {
          "description": "Optional. Open in Generation AI Studio.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "openPromptTuningPipeline": {
          "description": "Optional. Open prompt-tuning pipeline of the PublisherModel.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "multiDeployVertex": {
          "description": "Optional. Multiple setups to deploy the PublisherModel to Vertex Endpoint.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionDeployVertex"
        },
        "openFineTuningPipeline": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Open fine-tuning pipeline of the PublisherModel."
        },
        "openNotebooks": {
          "description": "Optional. Open notebooks of the PublisherModel.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionOpenNotebooks"
        },
        "deploy": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionDeploy",
          "description": "Optional. Deploy the PublisherModel to Vertex Endpoint."
        },
        "requestAccess": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Request for access."
        },
        "openGenie": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Open Genie / Playground."
        },
        "viewRestApi": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionViewRestApi",
          "description": "Optional. To view Rest API docs."
        },
        "openFineTuningPipelines": {
          "description": "Optional. Open fine-tuning pipelines of the PublisherModel.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionOpenFineTuningPipelines"
        },
        "createApplication": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Create application using the PublisherModel."
        },
        "deployGke": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionDeployGke",
          "description": "Optional. Deploy PublisherModel to Google Kubernetes Engine."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTextSegment": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTextSegment",
      "description": "The text segment inside of DataItem.",
      "properties": {
        "content": {
          "type": "string",
          "description": "The text content in the segment for output only."
        },
        "endOffset": {
          "type": "string",
          "format": "uint64",
          "description": "Zero-based character index of the first character past the end of the text segment (counting character from the beginning of the text). The character at the end_offset is NOT included in the text segment."
        },
        "startOffset": {
          "type": "string",
          "format": "uint64",
          "description": "Zero-based character index of the first character of the text segment (counting characters from the beginning of the text)."
        }
      }
    },
    "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessInstance": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessInstance",
      "description": "Spec for question answering correctness instance.",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "Optional. Text provided as context to answer the question."
        },
        "instruction": {
          "type": "string",
          "description": "Required. The question asked and other instruction in the inference prompt."
        }
      }
    },
    "GoogleCloudAiplatformV1DataLabelingJob": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1DataLabelingJob",
      "description": "DataLabelingJob is used to trigger a human labeling job on unlabeled data from the following Dataset:",
      "properties": {
        "inputsSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing the config for a specific type of DataLabelingJob. The schema files that can be used here are found in the https://storage.googleapis.com/google-cloud-aiplatform bucket in the /schema/datalabelingjob/inputs/ folder.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "The labels with user-defined metadata to organize your DataLabelingJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable. Following system labels exist for each DataLabelingJob: * \"aiplatform.googleapis.com/schema\": output only, its value is the inputs_schema's title.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Customer-managed encryption key spec for a DataLabelingJob. If set, this DataLabelingJob will be secured by this key. Note: Annotations created in the DataLabelingJob are associated with the EncryptionSpec of the Dataset they are exported to."
        },
        "labelerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Number of labelers to work on each DataItem."
        },
        "specialistPools": {
          "description": "The SpecialistPools' resource names associated with this job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "currentSpend": {
          "description": "Output only. Estimated cost(in US dollars) that the DataLabelingJob has incurred to date.",
          "readOnly": true,
          "$ref": "GoogleTypeMoney"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the DataLabelingJob.",
          "type": "string"
        },
        "inputs": {
          "type": "any",
          "description": "Required. Input config parameters for the DataLabelingJob."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this DataLabelingJob was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined name of the DataLabelingJob. The name can be up to 128 characters long and can consist of any UTF-8 characters. Display name of a DataLabelingJob."
        },
        "activeLearningConfig": {
          "$ref": "GoogleCloudAiplatformV1ActiveLearningConfig",
          "description": "Parameters that configure the active learning pipeline. Active learning will label the data incrementally via several iterations. For every iteration, it will select a batch of data based on the sampling strategy."
        },
        "datasets": {
          "description": "Required. Dataset resource names. Right now we only support labeling from a single Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "state": {
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED",
            "JOB_STATE_EXPIRED",
            "JOB_STATE_UPDATING",
            "JOB_STATE_PARTIALLY_SUCCEEDED"
          ],
          "description": "Output only. The detailed state of the job.",
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed.",
            "The job has expired.",
            "The job is being updated. Only jobs in the `RUNNING` state can be updated. After updating, the job goes back to the `RUNNING` state.",
            "The job is partially succeeded, some results may be missing due to errors."
          ],
          "readOnly": true
        },
        "error": {
          "description": "Output only. DataLabelingJob errors. It is only populated when job's state is `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "instructionUri": {
          "type": "string",
          "description": "Required. The Google Cloud Storage location of the instruction pdf. This pdf is shared with labelers, and provides detailed description on how to label DataItems in Datasets."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this DataLabelingJob was updated most recently."
        },
        "annotationLabels": {
          "description": "Labels to assign to annotations generated by this DataLabelingJob. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "labelingProgress": {
          "readOnly": true,
          "description": "Output only. Current labeling job progress percentage scaled in interval [0, 100], indicating the percentage of DataItems that has been finished.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1BatchImportModelEvaluationSlicesRequest": {
      "id": "GoogleCloudAiplatformV1BatchImportModelEvaluationSlicesRequest",
      "description": "Request message for ModelService.BatchImportModelEvaluationSlices",
      "properties": {
        "modelEvaluationSlices": {
          "description": "Required. Model evaluation slice resource to be imported.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelEvaluationSlice"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1MemoryGenerationTriggerConfigGenerationTriggerRule": {
      "id": "GoogleCloudAiplatformV1MemoryGenerationTriggerConfigGenerationTriggerRule",
      "description": "Represents the active rule that determines when to flush the buffer.",
      "properties": {
        "idleDuration": {
          "description": "Optional. Specifies to trigger generation if the stream is inactive for the specified duration after the most recent event. The duration must have a minute-level granularity.",
          "type": "string",
          "format": "google-duration"
        },
        "eventCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies to trigger generation when the event count reaches this limit."
        },
        "fixedInterval": {
          "description": "Optional. Specifies to trigger generation at a fixed interval. The duration must have a minute-level granularity.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SecretEnvVar": {
      "id": "GoogleCloudAiplatformV1SecretEnvVar",
      "description": "Represents an environment variable where the value is a secret in Cloud Secret Manager.",
      "properties": {
        "name": {
          "description": "Required. Name of the secret environment variable.",
          "type": "string"
        },
        "secretRef": {
          "description": "Required. Reference to a secret stored in the Cloud Secret Manager that will provide the value for this environment variable.",
          "$ref": "GoogleCloudAiplatformV1SecretRef"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1PauseModelDeploymentMonitoringJobRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PauseModelDeploymentMonitoringJobRequest",
      "description": "Request message for JobService.PauseModelDeploymentMonitoringJob.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1FulfillmentInstance": {
      "id": "GoogleCloudAiplatformV1FulfillmentInstance",
      "description": "Spec for fulfillment instance.",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        },
        "instruction": {
          "description": "Required. Inference instruction prompt to compare prediction with.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericTransformation": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericTransformation",
      "description": "Training pipeline will perform following transformation functions. * The value converted to float32. * The z_score of the value. * log(value+1) when the value is greater than or equal to 0. Otherwise, this transformation is not applied and the value is considered a missing value. * z_score of log(value+1) when the value is greater than or equal to 0. Otherwise, this transformation is not applied and the value is considered a missing value. * A boolean value that indicates whether the value is valid.",
      "properties": {
        "invalidValuesAllowed": {
          "description": "If invalid values is allowed, the training pipeline will create a boolean feature that indicated whether the value is valid. Otherwise, the training pipeline will discard the input row from trainining data.",
          "type": "boolean"
        },
        "columnName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1BatchPredictionJobInstanceConfig": {
      "id": "GoogleCloudAiplatformV1BatchPredictionJobInstanceConfig",
      "description": "Configuration defining how to transform batch prediction input instances to the instances that the Model accepts.",
      "properties": {
        "keyField": {
          "description": "The name of the field that is considered as a key. The values identified by the key field is not included in the transformed instances that is sent to the Model. This is similar to specifying this name of the field in excluded_fields. In addition, the batch prediction output will not include the instances. Instead the output will only include the value of the key field, in a field named `key` in the output: * For `jsonl` output format, the output will have a `key` field instead of the `instance` field. * For `csv`/`bigquery` output format, the output will have have a `key` column instead of the instance feature columns. The input must be JSONL with objects at each line, CSV, BigQuery or TfRecord.",
          "type": "string"
        },
        "includedFields": {
          "type": "array",
          "description": "Fields that will be included in the prediction instance that is sent to the Model. If instance_type is `array`, the order of field names in included_fields also determines the order of the values in the array. When included_fields is populated, excluded_fields must be empty. The input must be JSONL with objects at each line, BigQuery or TfRecord.",
          "items": {
            "type": "string"
          }
        },
        "instanceType": {
          "description": "The format of the instance that the Model accepts. Vertex AI will convert compatible batch prediction input instance formats to the specified format. Supported values are: * `object`: Each input is converted to JSON object format. * For `bigquery`, each row is converted to an object. * For `jsonl`, each line of the JSONL input must be an object. * Does not apply to `csv`, `file-list`, `tf-record`, or `tf-record-gzip`. * `array`: Each input is converted to JSON array format. * For `bigquery`, each row is converted to an array. The order of columns is determined by the BigQuery column order, unless included_fields is populated. included_fields must be populated for specifying field orders. * For `jsonl`, if each line of the JSONL input is an object, included_fields must be populated for specifying field orders. * Does not apply to `csv`, `file-list`, `tf-record`, or `tf-record-gzip`. If not specified, Vertex AI converts the batch prediction input as follows: * For `bigquery` and `csv`, the behavior is the same as `array`. The order of columns is the same as defined in the file or table, unless included_fields is populated. * For `jsonl`, the prediction instance format is determined by each line of the input. * For `tf-record`/`tf-record-gzip`, each record will be converted to an object in the format of `{\"b64\": }`, where `` is the Base64-encoded string of the content of the record. * For `file-list`, each file in the list will be converted to an object in the format of `{\"b64\": }`, where `` is the Base64-encoded string of the content of the file.",
          "type": "string"
        },
        "excludedFields": {
          "type": "array",
          "description": "Fields that will be excluded in the prediction instance that is sent to the Model. Excluded will be attached to the batch prediction output if key_field is not specified. When excluded_fields is populated, included_fields must be empty. The input must be JSONL with objects at each line, BigQuery or TfRecord.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListMemoryRevisionsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListMemoryRevisionsResponse",
      "description": "Response message for MemoryBankService.ListMemoryRevisions.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "memoryRevisions": {
          "type": "array",
          "description": "The list of Memory Revisions in the request page.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryRevision"
          }
[...]
