{
  "documentationLink": "https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials",
  "revision": "20260507",
  "kind": "discovery#restDescription",
  "basePath": "",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "id": "iamcredentials:v1",
  "schemas": {
    "GenerateIdTokenRequest": {
      "id": "GenerateIdTokenRequest",
      "type": "object",
      "properties": {
        "delegates": {
          "items": {
            "type": "string"
          },
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "type": "array"
        },
        "audience": {
          "description": "Required. The audience for the token, such as the API or account that this token grants access to.",
          "type": "string"
        },
        "includeEmail": {
          "description": "Include the service account email in the token. If set to `true`, the token will contain `email` and `email_verified` claims.",
          "type": "boolean"
        },
        "organizationNumberIncluded": {
          "description": "Include the organization number of the service account in the token. If set to `true`, the token will contain a `google.organization_number` claim. The value of the claim will be `null` if the service account isn't associated with an organization.",
          "type": "boolean"
        }
      }
    },
    "GenerateIdTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "description": "The OpenId Connect ID token. The token is a JSON Web Token (JWT) that contains a payload with claims. See the [JSON Web Token spec](https://tools.ietf.org/html/rfc7519) for more information. Here is an example of a decoded JWT payload: ``` { \"iss\": \"https://accounts.google.com\", \"iat\": 1496953245, \"exp\": 1496953245, \"aud\": \"https://www.example.com\", \"sub\": \"107517467455664443765\", \"azp\": \"107517467455664443765\", \"email\": \"my-iam-account@my-project.iam.gserviceaccount.com\", \"email_verified\": true, \"google\": { \"organization_number\": 123456 } } ```",
          "type": "string"
        }
      },
      "id": "GenerateIdTokenResponse"
    },
    "GenerateAccessTokenRequest": {
      "id": "GenerateAccessTokenRequest",
      "type": "object",
      "properties": {
        "scope": {
          "description": "Required. Code to identify the scopes to be included in the OAuth 2.0 access token. See https://developers.google.com/identity/protocols/googlescopes for more information. At least one value required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lifetime": {
          "description": "The desired lifetime duration of the access token in seconds. By default, the maximum allowed value is 1 hour. To set a lifetime of up to 12 hours, you can add the service account as an allowed value in an Organization Policy that enforces the `constraints/iam.allowServiceAccountCredentialLifetimeExtension` constraint. See detailed instructions at https://cloud.google.com/iam/help/credentials/lifetime If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
          "type": "string",
          "format": "google-duration"
        },
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. This field is required for [delegated requests](https://cloud.google.com/iam/help/credentials/delegated-request). For [direct requests](https://cloud.google.com/iam/help/credentials/direct-request), which are more common, do not specify this field. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WorkforcePoolAllowedLocations": {
      "description": "Represents a list of allowed locations for given workforce pool.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encodedLocations": {
          "description": "Output only. The hex encoded bitmap of the trust boundary locations",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "WorkforcePoolAllowedLocations"
    },
    "GenerateAccessTokenResponse": {
      "id": "GenerateAccessTokenResponse",
      "type": "object",
      "properties": {
        "accessToken": {
          "description": "The OAuth 2.0 access token.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Token expiration time. The expiration time is always set.",
          "type": "string"
        }
      }
    },
    "SignBlobRequest": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "Required. The bytes to sign.",
          "type": "string",
          "format": "byte"
        },
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SignBlobRequest"
    },
    "SignJwtRequest": {
      "type": "object",
      "properties": {
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "payload": {
          "description": "Required. The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 12 hours in the future.",
          "type": "string"
        }
      },
      "id": "SignJwtRequest"
    },
    "SignJwtResponse": {
      "id": "SignJwtResponse",
      "type": "object",
      "properties": {
        "keyId": {
          "description": "The ID of the key used to sign the JWT. The key used for signing will remain valid for at least 12 hours after the JWT is signed. To verify the signature, you can retrieve the public key in several formats from the following endpoints: - RSA public key wrapped in an X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}` - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}` - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`",
          "type": "string"
        },
        "signedJwt": {
          "description": "The signed JWT. Contains the automatically generated header; the client-supplied payload; and the signature, which is generated using the key referenced by the `kid` field in the header. After the key pair referenced by the `key_id` response field expires, Google no longer exposes the public key that can be used to verify the JWT. As a result, the receiver can no longer verify the signature.",
          "type": "string"
        }
      }
    },
    "ServiceAccountAllowedLocations": {
      "description": "Represents a list of allowed locations for given service account.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encodedLocations": {
          "description": "Output only. The hex encoded bitmap of the trust boundary locations",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ServiceAccountAllowedLocations"
    },
    "SignBlobResponse": {
      "type": "object",
      "properties": {
        "signedBlob": {
          "description": "The signature for the blob. Does not include the original blob. After the key pair referenced by the `key_id` response field expires, Google no longer exposes the public key that can be used to verify the blob. As a result, the receiver can no longer verify the signature.",
          "type": "string",
          "format": "byte"
        },
        "keyId": {
          "description": "The ID of the key used to sign the blob. The key used for signing will remain valid for at least 12 hours after the blob is signed. To verify the signature, you can retrieve the public key in several formats from the following endpoints: - RSA public key wrapped in an X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}` - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}` - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`",
          "type": "string"
        }
      },
      "id": "SignBlobResponse"
    },
    "WorkloadIdentityPoolAllowedLocations": {
      "description": "Represents a list of allowed locations for given workload identity pool.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encodedLocations": {
          "description": "Output only. The hex encoded bitmap of the trust boundary locations",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "WorkloadIdentityPoolAllowedLocations"
    }
  },
  "description": "Creates short-lived credentials for impersonating IAM service accounts. Disabling this API also disables the IAM API (iam.googleapis.com). However, enabling this API doesn't enable the IAM API. ",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "title": "IAM Service Account Credentials API",
  "protocol": "rest",
  "mtlsRootUrl": "https://iamcredentials.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://iamcredentials.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "IAM Credentials",
  "resources": {
    "projects": {
      "resources": {
        "serviceAccounts": {
          "methods": {
            "signBlob": {
              "description": "Signs a blob using a service account's system-managed private key.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signBlob",
              "request": {
                "$ref": "SignBlobRequest"
              },
              "response": {
                "$ref": "SignBlobResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:signBlob",
              "id": "iamcredentials.projects.serviceAccounts.signBlob"
            },
            "signJwt": {
              "description": "Signs a JWT using a service account's system-managed private key.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signJwt",
              "request": {
                "$ref": "SignJwtRequest"
              },
              "response": {
                "$ref": "SignJwtResponse"
              },
              "path": "v1/{+name}:signJwt",
              "id": "iamcredentials.projects.serviceAccounts.signJwt"
            },
            "getAllowedLocations": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of service account. Format: `projects/-/serviceAccounts/{service_account_email}`",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$"
                }
              },
              "id": "iamcredentials.projects.serviceAccounts.getAllowedLocations",
              "path": "v1/{+name}/allowedLocations",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/allowedLocations",
              "response": {
                "$ref": "ServiceAccountAllowedLocations"
              },
              "description": "Returns the trust boundary info for a given service account.",
              "parameterOrder": [
                "name"
              ]
            },
            "generateAccessToken": {
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateAccessToken",
              "request": {
                "$ref": "GenerateAccessTokenRequest"
              },
              "response": {
                "$ref": "GenerateAccessTokenResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:generateAccessToken",
              "id": "iamcredentials.projects.serviceAccounts.generateAccessToken",
              "description": "Generates an OAuth 2.0 access token for a service account.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "required": true,
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$"
                }
              },
              "httpMethod": "POST"
            },
            "generateIdToken": {
              "description": "Generates an OpenID Connect ID token for a service account.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateIdToken",
              "request": {
                "$ref": "GenerateIdTokenRequest"
              },
              "response": {
                "$ref": "GenerateIdTokenResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "iamcredentials.projects.serviceAccounts.generateIdToken",
              "path": "v1/{+name}:generateIdToken"
            }
          }
        },
        "locations": {
          "resources": {
            "workloadIdentityPools": {
              "methods": {
                "getAllowedLocations": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "description": "Required. Resource name of workload identity pool. Format: `projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}`",
                      "required": true
                    }
                  },
                  "id": "iamcredentials.projects.locations.workloadIdentityPools.getAllowedLocations",
                  "path": "v1/{+name}/allowedLocations",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/allowedLocations",
                  "response": {
                    "$ref": "WorkloadIdentityPoolAllowedLocations"
                  },
                  "description": "Returns the trust boundary info for a given workload identity pool.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "locations": {
      "resources": {
        "workforcePools": {
          "methods": {
            "getAllowedLocations": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+/workforcePools/[^/]+$",
                  "description": "Required. Resource name of workforce pool. Format: `locations/global/workforcePools/{pool_id}`",
                  "required": true
                }
              },
              "path": "v1/{+name}/allowedLocations",
              "httpMethod": "GET",
              "id": "iamcredentials.locations.workforcePools.getAllowedLocations",
              "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/allowedLocations",
              "response": {
                "$ref": "WorkforcePoolAllowedLocations"
              },
              "description": "Returns the trust boundary info for a given workforce pool.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://iamcredentials.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://iamcredentials.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://iamcredentials.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://iamcredentials.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://iamcredentials.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://iamcredentials.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    }
  ],
  "baseUrl": "https://iamcredentials.googleapis.com/",
  "version": "v1",
  "name": "iamcredentials",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}
